body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  background-image: linear-gradient(to right, #fdcbf1, #e6dee9);
  animation: changeBackground 10s linear infinite;
}

.button:hover {
  cursor: pointer;
}
.credit {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  font-size: 22px;
  color: #888;
}
.container {
  max-width: 600px;
  padding: 20px;
  background-color: transparent;
}
.playlist-container::-webkit-scrollbar {
  width: 12px;
}
.playlist-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.playlist-container::-webkit-scrollbar-thumb {
  background: #a18cd1;
  border-radius: 10px;
}
.playlist-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.playlist-container {
  background-color: #ffffff;
  max-width: 680px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 580px;
  overflow-y: auto;
}
.hidden {
  display: none;
}
@keyframes changeBackground {
  0% {
    background-image: linear-gradient(to right, #fdcbf1, #e6dee9);
  }
  50% {
    background-image: linear-gradient(to right, #a18cd1, #fbc2eb);
  }
  100% {
    background-image: linear-gradient(to right, #fdcbf1, #e6dee9);
  }
}

.music {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #9a1d86, #1595be);
  font-weight: bold;
}
.playpause-track i {
  font-size: 5em;
  cursor: pointer;
}
.player {
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  width: 530px;
  overflow-x: auto;
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.now-playing {
  font-size: 1rem;
}
.track-name {
  font-size: 2.5rem;
}
.track-artist {
  margin-top: 5px;
  font-size: 1.5rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.active {
  color: black;
}
.playpause-track,
.prev-track,
.next-track {
  padding: 25px;
  opacity: 0.8;
  transition: opacity 0.2s;
}
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83a9ff;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #3774ff;
  cursor: grab;
  border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}
.seek_slider {
  width: 60%;
}
.volume_slider {
  width: 30%;
}
.current-time,
.total-duration {
  padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward,
p {
  cursor: pointer;
}
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: animate 1.4s linear infinite;
}
@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }

  100% {
    background: #4286f4;
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
.song-title {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.song-title:hover {
  background-color: #00ff7f;
}
.song-title:active {
  background: #ffb6c1;
}
